PRODUCT_SERVICE_DB_HOST=localhost
PRODUCT_SERVICE_DB_PORT=3306
PRODUCT_SERVICE_DB_NAME=h_product_db
PRODUCT_SERVICE_DB_USER=app
PRODUCT_SERVICE_DB_PASSWORD=app_pass
PRODUCT_SERVICE_JWT_SECRET=change-me-in-env
PRODUCT_SERVICE_JWT_ALGORITHM=HS256
