PRODUCT_SERVICE_DB_HOST=localhost
PRODUCT_SERVICE_DB_PORT=3306
PRODUCT_SERVICE_DB_NAME=h_product_db
PRODUCT_SERVICE_DB_USER=app
PRODUCT_SERVICE_DB_PASSWORD=app_pass
PRODUCT_SERVICE_JWT_SECRET=change-me-in-env
PRODUCT_SERVICE_JWT_ALGORITHM=HS256
PRODUCT_SERVICE_REDIS_ENABLED=true
PRODUCT_SERVICE_REDIS_HOST=localhost
PRODUCT_SERVICE_REDIS_PORT=6379
PRODUCT_SERVICE_REDIS_DB=0
PRODUCT_SERVICE_REDIS_PASSWORD=
PRODUCT_SERVICE_REDIS_CACHE_TTL_SECONDS=120
