GATEWAY_JWT_SECRET=change-me-in-env
GATEWAY_JWT_ALGORITHM=HS256
GATEWAY_USER_SERVICE_URL=http://localhost:8001
GATEWAY_PRODUCT_SERVICE_URL=http://localhost:8002
GATEWAY_ORDER_SERVICE_URL=http://localhost:8080
