DEV_JWT_SECRET=change-me-in-env
DEV_DB_HOST=host.docker.internal
DEV_DB_PORT=3306
DEV_DB_USER=app
DEV_DB_PASSWORD=app_pass
DEV_REDIS_HOST=host.docker.internal
DEV_REDIS_PORT=6379
DEV_REDIS_PASSWORD=
DEV_LOGIN_RATE_LIMIT_MAX_REQUESTS=10
DEV_LOGIN_RATE_LIMIT_WINDOW_SECONDS=60
DEV_ORDER_CREATE_RATE_LIMIT_MAX_REQUESTS=20
DEV_ORDER_CREATE_RATE_LIMIT_WINDOW_SECONDS=60
