AWS_ACCOUNT_ID=123456789012
AWS_REGION=us-east-1
AWS_PROFILE=default

EKS_CLUSTER_NAME=modern-upo-prod
EKS_NAMESPACE=modern-upo-prod

IMAGE_TAG=latest

ECR_FRONTEND_REPO=modern-upo/frontend
ECR_GATEWAY_REPO=modern-upo/gateway
ECR_USER_SERVICE_REPO=modern-upo/user-service
ECR_PRODUCT_SERVICE_REPO=modern-upo/product-service
ECR_ORDER_SERVICE_REPO=modern-upo/order-service
ECR_NOTIFICATION_SERVICE_REPO=modern-upo/notification-service

JWT_SECRET=change-me
MYSQL_APP_USER=app
MYSQL_APP_PASSWORD=app_pass
MYSQL_ROOT_PASSWORD=root_pass
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin123
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin123
