NOTIFICATION_SERVICE_RABBITMQ_HOST=localhost
NOTIFICATION_SERVICE_RABBITMQ_PORT=5672
NOTIFICATION_SERVICE_RABBITMQ_USERNAME=admin
NOTIFICATION_SERVICE_RABBITMQ_PASSWORD=admin123
NOTIFICATION_SERVICE_RABBITMQ_VIRTUAL_HOST=/
NOTIFICATION_SERVICE_EXCHANGE=order.events
NOTIFICATION_SERVICE_QUEUE_NAME=notification.order.events
NOTIFICATION_SERVICE_ROUTING_KEYS=order.created,order.cancelled,order.approved,order.rejected
NOTIFICATION_SERVICE_RECONNECT_SECONDS=5
