USER_SERVICE_DB_HOST=localhost
USER_SERVICE_DB_PORT=3306
USER_SERVICE_DB_NAME=h_user_db
USER_SERVICE_DB_USER=app
USER_SERVICE_DB_PASSWORD=app_pass
USER_SERVICE_JWT_SECRET=change-me-in-env
USER_SERVICE_JWT_ALGORITHM=HS256
USER_SERVICE_JWT_EXPIRE_MINUTES=120
USER_SERVICE_REDIS_ENABLED=true
USER_SERVICE_REDIS_HOST=localhost
USER_SERVICE_REDIS_PORT=6379
USER_SERVICE_REDIS_DB=0
USER_SERVICE_REDIS_PASSWORD=
