SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/h_order_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=app
SPRING_DATASOURCE_PASSWORD=app_pass
APP_PRODUCT_SERVICE_BASE_URL=http://localhost:8002
