SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/h_order_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=app
SPRING_DATASOURCE_PASSWORD=app_pass
APP_PRODUCT_SERVICE_BASE_URL=http://localhost:8002
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=admin
SPRING_RABBITMQ_PASSWORD=admin123
SPRING_RABBITMQ_VIRTUAL_HOST=/
APP_ORDER_EVENTS_EXCHANGE=order.events
